<<<<<<< HEAD

.divGeral{
    margin: 45px 0px 20px;
    padding: 20px 0px;

}

.divGeral p{
    width: 50%;
    margin: 0 auto;
    line-height: 20px;
=======

.divGeral{
    margin: 45px 0px 20px;
    padding: 20px 0px;

}

.divGeral p{
    width: 50%;
    margin: 0 auto;
    line-height: 20px;
>>>>>>> 06b06dd36dfe8e17efac91552ed5c0c7918ea744
}